{    
    "Db": 
    {
        "name": "",
        "user": "",
        "pass": "",
        "driver": ""
    },
    "Imdb": 
    {
        "apiKey": ""
    },
    "Api":
    {
        "itemsPerPage": 5
    }
}